<div class="container" >
    <div class="row">
        <div class="d-grid gap-2 d-md-flex my-2 col-md-12">
            <button class="btn btn-danger"
            (click)="logout()"
            *ngIf="(auth.isAuthenticated$ | async)">Log Out</button>
        </div>
    </div>

</div>

<div class = "text-center text-white">
    <h1 class="animate__animated animate__bounceInUp">Aivo</h1>
    <h3 class="animate__animated animate__zoomInDown">Best movies, one place</h3>  
    <iframe class="animate__animated animate__zoomInDown" src="https://embed.lottiefiles.com/animation/19117"></iframe> 
</div>
<div class="container">
    <div class="row">

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Ordenar
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body mb-3">
                  <div class="row justify-content-star">

                  
                  <div class="col-6">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckName" (change)="this.sortByFunction('name')" [checked]="isCheckedName">
                        <label class="form-check-label" for="flexCheckName">
                          Nombre
                        </label>
                  </div>
                  <div class="col-6">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckYear" (change)="this.sortByFunction('year')" [checked]="isCheckedYear">
                      <label class="form-check-label" for="flexCheckYear">
                          Año
                      </label>
                    
                  </div>
                  <br>
                  <br>
                  <div class="row justify-content-evenly">
                  <div class="col-6">
                    <button class="animate__animated animate__zoomInDown btn btn-outline-primary "
                    (click)="sort(1)">Ascendente
                    </button>
                  </div>
                  <div class="col-6">
                    <button class="animate__animated animate__zoomInDown btn btn-outline-primary "
                    (click)="sort(2)">Descendente
                    </button>
                  </div>
                </div>
                </div>

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Filtrar
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body mb-3">
                  <div class="container">
                    <div class="row justify-content-evenly">
                      <div class="form-check col-4">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckShow" (change)="this.filterByFunction('series')" >
                        <label class="form-check-label" for="flexCheckShow">
                          Serie
                        </label>
                      </div>
                      <div class="form-check col-4">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckMovies" (change)="this.filterByFunction('movie')">
                        <label class="form-check-label" for="flexCheckMovies">
                          Pelicula
                        </label>
                      </div>
                  
                      <select #cricket class="col-4"  #mySelect
                      (change)='filterYear(mySelect.value)'>
                        <option value="default">Años</option>
                        <option *ngFor="let year of years" [value]="year">
                            {{year}}
                        </option>
                      </select>
              
                  </div>

                </div>
  
              </div>
            </div>
          </div>
        </div>

    </div>

    <div class="row justify-content-evenly">
      <div class="d-grid gap-2 d-md-flex my-2 col-md-12">
        <button class="animate__animated animate__zoomInDown btn btn-primary "
        (click)="cleanFilters()">Limpiar
        </button>
      </div>
    </div>
    

    <div class="row">

      <div class="col-md-4 mx-auto my-4 " *ngFor="let card of movies">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">{{card.title}}</h5>
              <p class="card-text">
                <b>{{"Categoria: " + card.programType}}</b>
                <br>
                {{card.description}}
                <br>
                <b>{{"Año de lanzamiento: " + card.releaseYear}}</b>
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
